<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <a [routerLink]="['']"><img src="/img/logo.png" alt="telecard"></a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="lang">
                    <button class="btn-lang-ua" (click)="aler()"></button>
                    <button class="btn-lang-en" (click)="toggleLanguage('en')"></button>
                    <button class="btn-lang-ru" (click)="toggleLanguage('ru')"></button>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">

            <!-- Slider -->
            <div id="myCarousel" class="carousel slide" data-interval="10000" data-ride="carousel">
                <!-- Индикаторы для карусели -->
                <ol class="carousel-indicators">
                    <!-- Перейти к 0 слайду карусели с помощью соответствующего индекса data-slide-to="0" -->
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <!-- Перейти к 1 слайду карусели с помощью соответствующего индекса data-slide-to="1" -->
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <!-- Перейти к 2 слайду карусели с помощью соответствующего индекса data-slide-to="2" -->
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Слайды карусели -->
                <div class="carousel-inner">
                    <!-- Слайды создаются с помощью контейнера с классом item, внутри которого помещается содержимое слайда -->
                    <div class="active item">
                        <!--<h2>Слайд №1</h2>-->
                        <!--<div class="carousel-caption">-->
                            <!--<h3>Заголовок 1 слайда</h3>-->
                            <!--<p>Текст (описание) 1 слайда...</p>-->
                        <!--</div>-->
                    </div>
                    <!-- Слайд №2 -->
                    <div class="item">
                        <!--<h2>Slide 2</h2>-->
                        <!--<div class="carousel-caption">-->
                            <!--<h3>Second slide label</h3>-->
                            <!--<p>Aliquam sit amet gravida nibh, facilisis gravida odio.</p>-->
                        <!--</div>-->
                    </div>
                    <!-- Слайд №3 -->
                    <div class="item">
                        <!--<h2>Slide 3</h2>-->
                        <!--<div class="carousel-caption">-->
                            <!--<h3>Third slide label</h3>-->
                            <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                        <!--</div>-->
                    </div>
                </div>
                <!-- Навигация для карусели -->
                <!-- Кнопка, осуществляющая переход на предыдущий слайд с помощью атрибута data-slide="prev" -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <!-- Кнопка, осуществляющая переход на следующий слайд с помощью атрибута data-slide="next" -->
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul id="menu">

                <li><a [routerLink]="['about/history']" class="drop">{{contentMain.About}}</a><!-- Begin Home Item -->

                    <div class="dropdown_1column"><!-- Begin 2 columns container -->

                        <div class="col_2">
                            <ul>
                                <li><a [routerLink]="['about/history']" class="myHeight2">{{submenuAbout.history}}</a></li>
                                <li><a [routerLink]="['about/tour']" class="myHeight2">{{submenuAbout.tour}}</a></li>
                                <li><a [routerLink]="['about/technology']" class="myHeight2">{{submenuAbout.technology}}</a></li>
                                <li><a [routerLink]="['about/cooperate']" class="myHeight2">{{submenuAbout.cooperate}}</a></li>
                                <li><a [routerLink]="['about/centre']" class="myHeight2">{{submenuAbout.centre}}</a></li>
                                <li><a [routerLink]="['about/contacts']" class="myHeight2">{{submenuAbout.contacts}}</a></li>
                            </ul>
                        </div>


                    </div><!-- End 2 columns container -->

                </li><!-- End Home Item -->

                <li><a href="/#div1" class="drop">{{contentMain.Products}}</a><!-- Begin 5 columns Item -->

                    <div class="dropdown_6columns"><!-- Begin 5 columns container -->

                        <div class="col_1">
                            <h3 class="myHeight" [innerHTML]="submenu.hf">{{submenu.hf}}</h3>
                            <ul>
                                <div *ngFor="let item of items |async" >
                                    <li *ngIf="item.$key=='product-r1150-01' || item.$key=='product-r1150'  || item.$key=='product-r1150-02' || item.$key=='product-r1150-03' ">
                                        <a [routerLink]="['product/'+item.$key]" class="myHeight2">{{item.name}}</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="col_1">
                            <h3 class="myHeight">{{submenu.vhf}}</h3>
                            <ul>
                                <div *ngFor="let item of items |async" >
                                    <li *ngIf="item.$key=='product-r002' || item.$key=='product-r005' || item.$key=='product-r030'">
                                        <a [routerLink]="['product/'+item.$key]" class="myHeight2" >{{item.name}}</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="col_1">
                            <h3 class="myHeight">{{submenu.broadband}}</h3>
                            <ul>
                                <div *ngFor="let item of items |async" >
                                    <li *ngIf="item.$key=='product-r450' || item.$key=='product-srsh' ">
                                        <a [routerLink]="['product/'+item.$key]" class="myHeight2">{{item.name}}</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="col_1">
                            <h3 class="myHeight">{{submenu.wireCom}}</h3>
                            <ul>
                                <div *ngFor="let item of items |async" >
                                    <li *ngIf="item.$key=='product-kr351' || item.$key=='product-ta01' ">
                                        <a [routerLink]="['product/'+item.$key]" class="myHeight2">{{item.name}}</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="col_1">
                            <h3 class="myHeight">{{submenu.lan}}</h3>
                            <ul>
                                <div *ngFor="let item of items |async" >
                                    <li *ngIf="item.$key=='product-muluak' || item.$key=='product-eth-switch' || item.$key=='product-voip'">
                                        <a [routerLink]="['product/'+item.$key]" class="myHeight2">{{item.name}}</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="col_1">
                            <h3 class="myHeight">{{submenu.misc}}</h3>
                            <ul>
                                <div *ngFor="let item of items |async" >
                                    <li *ngIf="item.$key=='product-c1001-2' || item.$key=='product-czp11' || item.$key=='product-mast'  || item.$key=='product-shelter' ">
                                        <a [routerLink]="['product/'+item.$key]" class="myHeight2">{{item.name}}</a>
                                    </li>
                                </div>
                            </ul>
                        </div>

                    </div><!-- End 5 columns container -->

                </li><!-- End 5 columns Item -->

                <li><a href="/#div2" class="drop">{{contentMain.Projects}}</a><!-- Begin 4 columns Item -->

                    <div class="dropdown_1column"><!-- Begin 4 columns container -->

                        <div class="col_1">
                            <ul>
                                <div *ngFor="let solution of solutions |async" >
                                    <li *ngIf="solution.$key=='solution-avsk' || solution.$key=='solution-kshm' || solution.$key=='solution-pss' || solution.$key=='solution-kas' ">
                                        <a [routerLink]="['solution/'+solution.$key]" class="myHeight2">{{solution.name}}</a>
                                    </li>
                                </div>
                            </ul>
                        </div>

                    </div><!-- End 4 columns container -->

                </li><!-- End 4 columns Item -->

                <li><a [routerLink]="['news']" class="drop">{{contentMain.News}}</a></li>

                <li class="menu_right"><a [routerLink]="['about/contacts']" class="drop">{{contentMain.Contacts}}</a><!-- Begin 3 columns Item -->

                    <div class="dropdown_2columns align_right"><!-- Begin 3 columns container -->

                        <div class="col_2 al-centre">

                                    <div [innerHTML]="footer.address">
                                        {{footer.address}}
                                    </div>
                                    <hr>
                                    <!--<h4>Почтовый адрес:</h4>-->
                                    <!--Пр-т. Маршала Жукова, 105<br>-->
                                    <!--65104, г. Одесса, Украина-->

                                    <div [innerHTML]="footer.departament">
                                        {{footer.departament}}
                                    </div>
                                    +38(048)711-60-98<br>
                                    sa@telecard.com.ua<br>
                                    depssp@telecard.com.ua
                                    <hr>

                                    <div [innerHTML]="footer.admin">
                                        {{footer.admin}}
                                    </div>
                                    +38(048)711-60-70<br>
                                    +38(048)711-15-15<br>
                                    office@telecard.com.ua
                        </div>

                    </div><!-- End 3 columns container -->

                </li><!-- End 3 columns Item -->


            </ul>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="foot">
                <div class="row">
                    <div class="col-md-4 al-centre">
                        <div [innerHTML]="footer.address">
                            {{footer.address}}
                        </div>
                        <!--<h4>Почтовый адрес:</h4>-->
                        <!--Пр-т. Маршала Жукова, 105<br>-->
                        <!--65104, г. Одесса, Украина-->
                    </div>
                    <div class="col-md-4 al-centre" >

                        <div [innerHTML]="footer.departament">
                            {{footer.departament}}
                        </div>
                            +38(048)711-60-98<br>
                            sa@telecard.com.ua<br>
                            depssp@telecard.com.ua
                    </div>
                    <div class="col-md-4 al-centre">
                        <div [innerHTML]="footer.admin">
                        {{footer.admin}}
                        </div>
                        +38(048)711-60-70<br>
                        +38(048)711-15-15<br>
                        office@telecard.com.ua
                    </div>

                  </div>
            </div>
        </div>
    </div>
</div>






