.sol-img{
    height: 400px;
    width: 800px;
}

.min-height{
    min-height: 700px;
}

.al-justify{
    text-align: justify;
}

.al-centre{
    text-align: center;
}

.al-left{
    text-align: left;
}